@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    border-bottom: 1px solid #000;
    flex: none;
}

header a{
    display: block;
    align-content: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    border: 1px solid #C4C4C4;
    width: 200px;
    height: 48px;
    margin-right: 20px;
}

header a.active{
    background-color: #C4C4C4;
}
.edit_users_screen{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.edit_user_form{
    border: 1px solid #000;
    margin: 80px 100px;
    flex: 1 1 100%;   
}
.edit_user_form_wrap{
    padding: 60px 80px 80px 80px;
}
h2{
    font-family: "Karla", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
}
.user_name{
    width: 500px;
    height: 48px;
    border-radius: 0px;
}    
input{
    display: block;
    border: 1px solid #C4C4C4;
    outline: none;
    width: 500px;
    height: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20;
    color: #5E626B;
    padding: 12px 0 12px 24px;
}
span{
    display: none;
}
label{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #5E626B;
    margin: 4px;
}
h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 60px 0 40px;
}